* {
  margin: 0%;
}

:root {
  accent-color: #003c53;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container-fluid {
  background-color: white;
  border: 1px solid rgba(204, 195, 195, 0.541);
}

.container {
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar {
  background-color: white;
  padding-top: 18px;
}

.navbar #menubutton {
  border-color: #0B85B4;
  background-color: #0B85B4;
}

.navbar .navbar-toggler {
  color: white;
  border: none;
}

.offcanvas-header .btn-close {
  background-color: white;
}

.navword {
  color: #003c53;
}

#menuword {
  color: white;
  text-decoration: none;
}

.form-control {
  border: 2.3px solid #003c53;
  background-color: white;
}

.form-control:focus {
  border-color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#logo {
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.btn {
  background-color: #003c53;
  border-color: #003c53;
  color: white;
  border-radius: 0.01;
  padding: 0.375rem 2rem;
  font-weight: bold;
}

.btn:hover {
  color: white;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.textmid2 {
  height: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#sec1 {
  background-image: url("img/banner.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  margin-bottom: 60px;
}

#sec1 img {
  margin-bottom: -70px;
}

#paper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.iconsmid {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.icon {
  height: 70px;
  width: 70px;
}

#benefits {
  max-width: 100%;
  width: 1050px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

#titulo2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  text-align: center;
}

#container2 {
  color: black;
  background-color: #f2f2f2;
}

#sec2 {
  background-color: #f2f2f2;
  position: relative;
}

#background2 {
  position: absolute;
  width: 38%;
  height: 100%;
  top: 0%;
  bottom: 0%;
  right: 0%;
  background-repeat: no-repeat;
  background-image: url("img/terno.png");
  background-size: cover;
}

h5 {
  color: #0B85B4;
}

h2 {
  color: #003c53;
  padding-bottom: 26px;
  padding-top: 26px;
}

.tel {
  color: white;
  background-color: #003c53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-color: #003c53;
}

#pg3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0;
}

#pg3 form {
  max-width: 550px;
  margin: auto;
}

input:where([type="radio"], [type="radio"]) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #fffdfd;
  border-radius: 4px;
}

input[type="radio"] {
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 1px grey;
          box-shadow: 1px 1px 1px grey;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #99999985;
}

input[type="radio"]:checked {
  background-color: #0b85b4;
  -webkit-box-shadow: 1px 1px 1px black;
          box-shadow: 1px 1px 1px black;
}

#pg4 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  max-width: 570px;
  text-align: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 20px;
}

#benefits2 {
  padding-bottom: 38px;
}

#finalbutton {
  border-radius: 2rem;
  background-color: #003c53;
  min-width: 260px;
  padding: 20px 15px;
  float: right;
}

#lastpage {
  background-color: #003c53;
  height: 200px;
  padding: 20px;
}

#logofim {
  background-color: white;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inline-block;
}

.rodapeletras {
  color: white;
}

#selo {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
}

.radio label {
  display: inline-block;
}

a {
  text-decoration: none;
}

.row-cols-sm-1 {
  padding: 15px;
}

.input-group {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 599px) {
  #imgadv {
    width: 362px;
    height: 319px;
    background-position: center center;
    padding-top: 24px;
    padding: 2px;
  }
  #navegador {
    display: none;
  }
  #sec1 {
    padding: 10px;
  }
  h1 {
    padding-top: 82px;
  }
  #benefits {
    margin-top: 53px;
    padding-top: 20px;
  }
  #logosiso {
    max-width: 120px;
    max-height: 120px;
  }
}

@media only screen and (max-width: 767px) {
  #imgadv {
    width: 362px;
    height: 300px;
    background-position: center center;
    padding-top: 20px;
  }
}

#sec1 {
  padding-bottom: 5px;
}

h1 {
  padding-top: 82px;
}

#benefits {
  margin-top: -22px;
}

.container-fluid {
  border: none;
}

@media only screen and (min-width: 1024px) {
  #benefits {
    padding: 38px;
    max-width: 970px;
  }
}

.offcanvas-body {
  background-color: #003c53;
}

.offcanvas-header {
  background-color: #003c53;
}
/*# sourceMappingURL=styles.css.map */